.cor-body{
    background: black;
    color: white;
}
.cor-nav{
    background: #f73434;
}

.infor{
    margin-top: 180px;
}
.bnt-produto{
    background-color: #f73434;
    color: white;
}
.esp{
    position: relative;
    left: 25px;
}

/* @font-face {
    font-family: "Raleway Especial";
    src: local(Raleway), url(../fonts/Raleway-ExtraBold.ttf);
    font-weight: 800;
 } */